<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jp.login.mapper.UserMapper">

    <!-- groupRoleリストの取得用 -->
    <resultMap id="groupRoleResultMap" type="com.jp.login.entity.groupRole">
        <id property="group_role_id" column="gr_id"/>
        <result property="group_role_name" column="group_role_name"/>
    </resultMap>

    <!-- mainRoleのマッピング -->
    <resultMap id="mainRoleResultMap" type="com.jp.login.entity.mainRole">
        <id property="main_role_id" column="mr_id"/>
        <result property="main_role_name" column="main_role_name"/>
    </resultMap>

    <!-- Roleのマッピング -->
    <resultMap id="roleResultMap" type="com.jp.login.entity.role">
        <association property="mainRole" javaType="com.jp.login.entity.mainRole" resultMap="mainRoleResultMap"/>
        <collection property="groupRoleList" ofType="com.jp.login.entity.groupRole" resultMap="groupRoleResultMap"/>
    </resultMap>

    <!-- MasterUser（user+role）のマッピング -->
    <resultMap id="masterUserResultMap" type="com.jp.login.entity.MasterUser">
        <association property="user" javaType="com.jp.login.entity.user">
            <id property="id" column="u_id"/>
            <result property="username" column="username"/>
            <result property="password" column="password"/>
            <result property="main_role_id" column="main_role_id"/>
            <!-- 他のuserカラムも追加 -->
        </association>
        <association property="role" javaType="com.jp.login.entity.role" resultMap="roleResultMap"/>
    </resultMap>

    <!-- 実行SQL -->
    <select id="selectMasterUserByUsername" resultMap="masterUserResultMap" parameterType="string">
        SELECT
          u.id as u_id, u.username, u.password, u.main_role_id,
          mr.main_role_id as mr_id, mr.main_role_name,
          gr.group_role_id as gr_id, gr.group_role_name
        FROM
          mst_user u
          LEFT JOIN main_role mr ON u.main_role_id = mr.main_role_id
          LEFT JOIN group_role gr ON mr.main_role_id = gr.main_role_id
        WHERE
          u.username = #{username}
    </select>

</mapper>