<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "https://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

    <!-- 外部プロパティ（環境変数を優先） -->
    <properties resource="generator.properties"/>

    <context id="MySQLContext" targetRuntime="MyBatis3">
        <property name="javaFileEncoding" value="UTF-8"/>
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>

        <!-- Lombok を使う場合のプラグイン（クラスパスにプラグインJarが必要） -->
        <plugin type="com.softwareloop.mybatis.generator.plugins.LombokPlugin"/>
        <plugin type="org.mybatis.generator.plugins.MapperAnnotationPlugin"/>

        <commentGenerator>
            <property name="suppressAllComments" value="false"/>
            <property name="addRemarkComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- JDBC 接続（MySQLの例） -->
        <jdbcConnection
                driverClass="com.mysql.cj.jdbc.Driver"
                connectionURL="${db.url}"
                userId="${db.user}"
                password="${db.password}">
            <!-- 文字コード設定 -->
            <property name="useUnicode" value="true"/>
            <property name="characterEncoding" value="UTF-8"/>
            <!-- SSL/鍵取得など -->
            <property name="useSSL" value="false"/>
            <property name="allowPublicKeyRetrieval" value="true"/>
            <!-- タイムゾーン -->
            <property name="serverTimezone" value="Asia/Tokyo"/>
            <!-- メタデータ（備考）取得を安定させる -->
            <property name="useInformationSchema" value="true"/>
            <property name="remarks" value="true"/>
        </jdbcConnection>


        <!-- Java 8+ の日時型を使う -->
        <javaTypeResolver type="org.mybatis.generator.internal.types.JavaTypeResolverDefaultImpl">
            <property name="useJSR310Types" value="true"/>
        </javaTypeResolver>

        <!-- 生成先 -->
        <javaModelGenerator targetPackage="com.jp.login.entity" targetProject="src/main/java">
            <!-- ここはモデル生成の設定（有効） -->
            <property name="trimStrings" value="true"/>
            <property name="serializable" value="true"/>
        </javaModelGenerator>


        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources"/>

        <javaClientGenerator targetPackage="com.jp.login.mapper"
                             targetProject="src/main/java"
                             type="XMLMAPPER"/>

        <!-- 対象テーブル -->
        <table tableName="content_items" domainObjectName="ContentItem">
            <generatedKey column="id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table tableName="mst_user" domainObjectName="MstUser">
            <generatedKey column="id" sqlStatement="JDBC" identity="true"/>
        </table>

    </context>
</generatorConfiguration>
