<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "https://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

    <!-- 外部プロパティ（環境変数を優先） -->
    <properties resource="generator.properties"/>

    <context id="MySQLContext" targetRuntime="MyBatis3">
        <property name="javaFileEncoding" value="UTF-8"/>
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>

        <!-- Lombok を使う場合のプラグイン（クラスパスにプラグインJarが必要） -->
        <plugin type="com.itfsw.mybatis.generator.plugins.LombokPlugin"/>

        <!-- JDBC 接続（MySQLの例） -->
        <jdbcConnection
                driverClass="com.mysql.cj.jdbc.Driver"
                connectionURL="${db.url}"
                userId="${db.user}"
                password="${db.password}"/>

        <!-- Java 8+ の日時型を使う -->
        <javaTypeResolver type="org.mybatis.generator.internal.types.JavaTypeResolverDefaultImpl">
            <property name="useJSR310Types" value="true"/>
        </javaTypeResolver>

        <!-- 生成先 -->
        <javaModelGenerator targetPackage="com.jp.login.entity" targetProject="src/main/java">
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources"/>

        <javaClientGenerator targetPackage="com.jp.login.mapper"
                             targetProject="src/main/java"
                             type="XMLMAPPER"/>

        <!-- 対象テーブル -->
        <table tableName="content_item" domainObjectName="ContentItem">
            <generatedKey column="id" sqlStatement="JDBC" identity="true"/>
        </table>

    </context>
</generatorConfiguration>
