<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>アカウント登録</title>
</head>
<body>
<h2>アカウント登録</h2>
<div th:if="${error}">
    <p style="color:red;" th:text="${error}"></p>
</div>
<form method="post" th:action="@{/register}">
    <label>ユーザー名: <input name="username" type="text"></label><br>
    <label>メール: <input name="email" type="email"></label><br>
    <label>パスワード: <input name="password" type="password"></label><br>
    <label>パスワード確認: <input name="confirmPassword" type="password"></label><br>
    <button type="submit">登録</button>
</form>
</body>
</html>