<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.post.ZipcodeMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.entity.post.ZipCode">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="zip_code" jdbcType="VARCHAR" property="zipCode"/>
        <result column="prefecture_kana" jdbcType="VARCHAR" property="prefectureKana"/>
        <result column="city_kana" jdbcType="VARCHAR" property="cityKana"/>
        <result column="town_area_kana" jdbcType="VARCHAR" property="townAreaKana"/>
        <result column="prefecture" jdbcType="VARCHAR" property="prefecture"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="town_area" jdbcType="VARCHAR" property="townArea"/>
    </resultMap>
    <select id="countZipcodes" resultType="int">
        SELECT COUNT(*)
        FROM zipcodes
        <where>
            <if test="zipcode != null">
                zipcode LIKE CONCAT('%', #{zipcode}, '%')
            </if>
        </where>
    </select>
</mapper>